/* You can add global styles to this file, and also import other style files */


body {
  padding: 0;
  margin: 0;
  background-color: #0d2031;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

.nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.nav a.active {
  transform: translate(0, -5px);
  background-color: rgba(255, 255, 255, 0.5);
}
